---
title: What is GitLab?
description: "The open DevOps platform."
suppress_header: true
extra_css:
  - auto-devops.css
  - product.css
extra_js:
  - features.js
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
    %h1 What is GitLab?
    %p
      GitLab is the open <a href="/solutions/devops-platform/">DevOps platform</a>, delivered as a single application. This makes GitLab unique and creates
      a streamlined software workflow, unlocking your organization from the constraints of a pieced together toolchain. Learn how GitLab offers unmatched visibility and higher levels of efficiency in a single application across the DevOps lifecycle.
    = link_to "Watch a GitLab demo", "/demo/", class: "btn cta-btn accent"

.content-container
  .content.tile
    %p
      <iframe width="853" height="480" src="https://www.youtube.com/embed/-_CDU6NFw7U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    :markdown
      GitLab started as an open source project to help teams collaborate on software development. GitLab's mission is to provide a place where everyone can contribute. Each team member uses our product internally and directly impacts the company roadmap. This exceptional approach works because we're a team of passionate people who want to see each other, the company, and the broader GitLab community succeed and we have the platform to make that possible.

  = link_to "Learn more about the platform", "/stages-devops-lifecycle/", class: "btn cta-btn accent"
  
  .content.tile
    :markdown
      ## GitLab community

      At GitLab, we've created a community of over 3,000 individual contributors and over two million users. Our open source collaboration is a great place to share and learn information about version control, CI/CD, DevSecOps, and all-remote workflows. Learn about our Heroes program, find a local meetup, join our quarterly hackathon, or find out about upcoming events.

  = link_to "Join our community", "/community/", class: "btn cta-btn accent"

  .content.tile
    :markdown
      ## What GitLab does

      GitLab is a single application that spans the entire software development lifecycle. If you're not using GitLab, your DevOps lifecycle is likely spread across any number of applications. These silos take overhead to integrate, manage, configure, and maintain, slowing down your team and your deployments. Moving to a single application will speed up your workflow and help you deliver better software, faster. Learn how GitLab can replace any number of your existing applications.

  = link_to "See how GitLab compares", "/devops-tools/", class: "btn cta-btn accent"

  .content.tile
    :markdown
      ## Open source and open core

      GitLab is an open source project maintained by GitLab Inc with over 3,000 contributors. You can install and self-manage the GitLab Community Edition which is fully open source under an MIT license. GitLab also provides an Enterprise Edition that has additional features built upon the open source edition. We call this an "open core" model.

      Hundreds of thousands of organizations use and contribute to GitLab, and we work together with our community to release a new stable version every month. In order to give back to this community, we grant access to our top tier features, plus 50,000 CI pipeline minutes, for free to qualifying open source organizations through our GitLab for Open Source program.

  = link_to "Learn about GitLab for Open Source", "/open-source/", class: "btn cta-btn accent"

  .content.tile
    :markdown
      ## Leading the all-remote lifestyle

      Want to learn how one of the world's largest all-remote companies manages teams and workflows? From cost savings to more flexibility in employees' daily lives, all-remote work offers a number of advantages. GitLab has (literally) written the book on how to be a successful all-remote organization.

  = link_to "Learn about all-remote", "/company/culture/all-remote/", class: "btn cta-btn accent"

  .content
    .home-cta-promo
      .home-cta-promo-content
        %h2 Try GitLab for free  
        %p Get unlimited access to all of GitLab's features for 30 days. 
        %a.btn.orange.cta-btn.margin-top10{:href => "/free-trial/"} Get Started
